---
layout: default
permalink: contact.html
---
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 message c-page">
        <div class="col-xs-12 col-offset-0 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0 map">
          <h1 class="col-header">OUR OFFICE</h1>
          <a href="https://www.google.ca/maps/place/Bang+Fitness/@43.6471174,-79.4070881,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34e73a879b1f:0x4b3f035c50c09b9!8m2!3d43.6471174!4d-79.4048994" target="_blank">
            <img src="/image/ASP_Map.jpg" alt="Map Location">
          </a>
        </div>
        <div class="col-xs-12 col-offset-0 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 locate">
          <h1 class="col-header">CONTACT</h1>
          <ul class="office">
            <li>Dr. Alex St. Pierre, DC, CSCS</li>
            <li>610 Queen St. W, Second Floor</li>
            <li>Toronto, ON | M6J 1E3</li>
            <li><a href="mailto:Dr.alex.st.pierre@gmail.com">Dr.alex.st.pierre@gmail.com</a></li>
            <li>(416) 777--2264</li>
          </ul>
          <a id="mail-btn" href="mailto:Dr.alex.st.pierre@gmail.com">CONTACT US</a>
        </div>
      </div>     
