---
permalink: index.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dr. Alex St.Pierre is conveniently located inside Bang Fitness at the corner of Queen and Bathurst. His brand of performance therapy facilitates recovery from sports injuries and enhances your athletic performance. Techniques include soft tissue therapy, mobilization, manipulation, rehabilitation, and exercise program design.">
    <meta name="author" content="Verti Creative">

    <title>Dr. Alex St. Pierre - Home</title>
    
     <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

    <script src="/js/custom.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="image/fav3.png"><![endif]-->
    <link rel="apple-touch-icon-precomposed" href="image/fav2.png">
    <link rel="icon" href="image/fav1.png">
  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    
  </head>
  
  <body>

    <div id="wrapper">
      
             
        <div id="topper">
        
          <img id="logo" src="image/LOGO.png" alt="Alex St. Pierre Logo" width="150">
        
          <nav class="navbar">
            <div class="container">
          
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span><img src="image/menuR.png" alt="menu button"></span>
              </button>
              <nav class="navbar-collapse collapse">
                <ul id="navigation" class="navbar">
                  <li><a id="current" href="index.html">HOME</a></li>
                  <li><a href="services.html">SERVICES</a></li>
                  <li><a href="process.html">PROCESS</a></li>
                  <li><a href="contact.html">CONTACT</a></li>
                  <li><a href="blog.html">BLOG</a></li>
                  <li>
                    <ul id="social">
                      <li><a class="social" href="https://www.youtube.com/channel/UCK-RMVCmgvFNkqjU-ZPL_HA"><img src="image/youtube.png" alt="youtube"></a></li>
                      <li><a class="social" href="https://www.instagram.com/stpierreetal/"><img src="image/instagram.png" alt="instagram"></a></li>
                    </ul>
                  </li>
                </ul>             
              </nav>
            
            </div><!--container-->     
          </nav>

          <img id="logoA" src="image/LOGO.png" alt="Alex St. Pierre Logo" width="120">
          
        <div class="row">
          <div id="message" class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
            <h1 class="grabber"><em>PERFORMANCE<br>THERAPY</em></h1>
            <p class="tagline">MOVE BETTER. FEEL BETTER. PERFORM BETTER.</p>
            <p><a class="highlight" href="process.html"><em>LEARN MORE ABOUT OUR PROCESS</em></a></p>
          </div>
        </div>
      
      </div><!--topper-->  
      
{% include footer.html%}