---
layout: default
permalink: process.html
---

      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 message">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 process">
          <h1 class="pre-header">THE PROCESS <b>01</b></h1>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 process">
          <p>Injury is all too often a regular part of training. It takes time away from training, leaving you underprepared for competition.</p>
          <p>Drawing on expertise as a coach, therapist, and athlete, Alex’s approach to treatment is simple: bridge the gap between rehabilitation and performance through athletic development.</p>
        </div>
      </div>
      <section class="pic-wrap">
        <img src="image/ASP_Process_gym.jpg" alt="Weightroom">
      </section>
      
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 message">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 process">
          <h1 class="pre-header">THE PROCESS <b>02</b></h1>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 process">
          <p>This starts with a comprehensive valuation, including a thorough history of your injury and physical examination, and analyzes all aspects of your pre-injury
          training program—even sleep and hydration. </p>
        </div>
      </div>
      <section class="pic-wrap">
        <img src="image/ASP_Process4.jpg" alt="Consulting">
      </section>
      
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 message">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 process">
          <h1 class="pre-header">THE PROCESS <b>03</b></h1>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 process">
          <p>Alex collaborates with other health professionals to optimize your healing, designing programs that incorporate soft tissue techniques,
          mobilization and/or manipulation, exercise, rehabilitation, technique coaching, and more.</p>
        </div>
      </div>
      <section class="pic-wrap">
        <img src="image/ASP_Process3.jpg" alt="Treatment">
      </section>
      
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 message">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 process">
          <h1 class="pre-header">THE PROCESS <b>04</b></h1>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 process">
          <p>Constant monitoring ensures you are on the right track. Ongoing testing evaluates the success of Alex’s interventions. Your results guide your next steps.</p>
          <p><b>This translates into better treatment and better performance.</b></p>
        </div>
      </div>
      
      <section class="pic-wrap">
        <img src="image/ASP_Process1.jpg" alt="Weightlifting">
      </section>
