---
layout: default
permalink: services.html
---

<div id="message" class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
  <h1>Performance means different things to different people.</h1>
  <p>To an athlete it can mean reaching a goal in competition or training to their fullest potential. To others it may be as
    simple as being able to walk up and down stairs independently. In both scenarios there is a specific and measurable outcome
    and goal. Performance therapy embraces the process of achieving this goal.</p>
</div>

<div id="column-wrapper" class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

  <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-0 service-list">
    <h2 class="col-header">WHAT WE DO</h2>
    <p>We look beyond the injury and evaluate the individual as a whole to facilitate healing and recovery while optimizing
      training and performance.</p>
  </div>

  <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-0 service-list">
    <h2 class="col-header">HOW WE DO IT</h2>
    <p>Our approach combines the role of coach and therapist to include assessment, goal setting, establishing benchmarks and
      outcome measures, and collaborating with other professionals.</p>
  </div>

  <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-0 service-list">
    <h2 class="col-header">SERVICES INCLUDE:</h2>
    <ul id="service-list">
      <li>
        <p>manual and instrument-assisted soft tissue therapies</p>
      </li>
      <li>
        <p>joint mobilization and manipulation</p>
      </li>
      <li>
        <p>muscular conditioning and rehabilitation</p>
      </li>
      <li>
        <p>monitoring of stress, sleep, and nutrition</p>
      </li>
    </ul>
    <p></p>
  </div>

</div>
<!--message-->
